/* colors */
:root {
--bright-green: #63A63E;
--red: #EE3643;
--white: #ffffff;
--dark-blue: #293449;
--purple-blue: #32425C;
--black: #000000;
--light-grey: #F3F7F9;
--some-orange: #FFBF47;
--orange: #FFC047;
--sky-blue: #3BBCE3;
--light-purple: #DC91D8;
--light-green: #8ED78F;
--sort-of-light-grey: #F9F5F0;
--different-light-grey: #F1F5F7;
--light-orange: #FFD180;;
/* colors catalog */
--white-grey: #F2F6F8;
--light-red-grey: #F7F3EC;
--silver: #C5C5C5;
--dark-grey: #A9A9A9;
--dark-blue: #212A3A;
/* color link style */
--more-bright-green: #5FBB2D;
--more-dark-blue: #161D29;
--blood-red: #BA2732;
--differrent-dark-blue: #3D546F;
--light-blood-red: #CA2C37;
--more-bright-green: #5FBB2D;
--dark-green: #518534;
}
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.visibility {
  visibility: hidden;
}
.main-header {
  font-size: 18px;
  line-height: 24px;
  background-image: url('../img/top-background.png');
  background-repeat: no-repeat;
  background-color: var(--light-grey);
}
.main-header-menu {
  background-image: url('../img/main-header-menu.png');
  background-repeat: no-repeat;
  background-color: var(--dark-blue);
  color: var(--white);
}
.main-header-logo {
  background-color: var(--red);
}
.main-header-menu a {
  color: inherit;
}
.order {
  background-color: var(--bright-green);
}
.header-shop-text {
  font-size: 16px;
  line-height: 23px;
  color: var(--red);
  font-style: italic;
}
.header-shop-tel {
  font-size: 21px;
  line-height: 30px;
  color: var(--red);
  border: 3px solid var(--white);
}
.header-shop-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--purple-blue);
}
.header-button-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
}
.main-nav {
  background-image: url('../img/main-nav.png');
  background-repeat: no-repeat;
  background-color: var(--purple-blue);
}
.list-nav {
  list-style: none;
}
.list-nav a {
  color: var(--white);
}
.assortment-item:first-of-type {
  background-color: var(--some-orange);
}
.assortment-item:nth-of-type(2) {
  background-color: var(--sky-blue);
}
.assortment-item:nth-of-type(3) {
  background-color: var(--light-purple);
}
.assortment-item:nth-of-type(5) {
  background-color: var(--light-green);
}
.assortment-item:last-of-type {
  background-color: var(--orange);
}
.assortment-item-special {
  background-image: url("../img/layer99.png");
  background-repeat: no-repeat;
}
.assortment-item-text {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: var(--white);
}
.assortment-item-button {
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3);
}
.assortment-item-special-text span {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}
.popular-section {
  background-color: var(--sort-of-light-grey);
  text-transform: uppercase;
}
.popular-section-text {
  font-size: 30px;
  line-height: 30px;
}
.button {
  font-size: 14px;
  line-height: 18px;
  background-color: var(--red);
  color: var(--white);
  border: none;
}
.popular-list {
  list-style: none;
}
.popular-item {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
.popular-item-text {
  font-size: 18px;
  line-height: 20px;
}
.old-price {
  font-size: 17px;
  line-height: 18px;
  color: var(--dark-grey);
}
.button-item {
  font-size: 17px;
  line-height: 18px;
}
.service {
  background-color: var(--different-light-grey);
}
.heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}
.text {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.service-buttons {
font-size: 21px;
line-height: 30px;
}
.service-button {
  border: none;
  text-decoration: none;
  background-color: var(--purple-blue);
  color: var(--white);
}
.service-button-active {
  background-color: var(--white);
  color: var(--purple-blue);
}
.service h3 {
  color: var(--purple-blue);
}
.footer-menu {
  background-color: var(--purple-blue);
  color: var(--white);
}
.footer-menu a {
  color: inherit;
}
.footer-logo {
  background-color: var(--red);
}
.footer-menu-list {
  list-style: none;
}
.footer-menu-item:nth-of-type(6),
.footer-menu-item:nth-of-type(7),
.footer-menu-item:nth-of-type(8),
.footer-menu-item:last-of-type {
  color: var(--light-orange);
}
.socials {
  background-image: url('../img/footer-social.png');
  background-repeat: no-repeat;
  background-color: var(--dark-blue);
}
.social-list-icons {
  list-style: none;
}
.footer-text-last {
  font-size: 16px;
  line-height: 18px;
}
.footer-text-last a {
color: var(--light-orange);
}
